*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
*::before,
*::after {
    display: contents;
}
:root {
    interpolate-size: allow-keywords;
    /* color-scheme: light dark; */
}
html {
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img {
    max-width: 100%;
    vertical-align: top;
}
ul, ol, li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
    background: none;
    outline: none;
    border: none;
}
button {
    cursor: pointer;
}
/* clears the 'X' in searchbar from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}